<%- include('../partials/adminsimheader') -%>

  <div class="contain">
    <div class="row">
      <div class="col-3">
        <%- include('../partials/adminSidebar') -%>
      </div>
      <div class="col-8">
        <form action="/admin/blog" method="post" enctype="multipart/form-data" style="border:1px solid #ccc">
          <div class="container" style="border: none;">
            <h1>Create an Blog Post</h1>
            <p>Please fill in this form to create Blog Post.</p>
            <hr>
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Name" name="title" required>
            <br>

            <label for="image"><b>Image</b></label>
            <input type="file" name="image" required>
            <br>
            <br>

            <label for="date"><b>Date</b></label>
            <input type="date" name="date" style="background-color: #F5F5F5; width: 100%;" required>
            <br>
            <br>

            <label for="image"><b>Description</b></label>
            <textarea id="w3review" name="description" class="w-100" rows="6" cols="10"></textarea>


            <br>


            <div class="clearfix">
              <button type="submit" class="signupbtn w-100">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <% if(typeof message !=='undefined' ){ %>
    <div class="container">
      <div class="col-8 w-50" style="margin: 10px auto;">
        <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;">
          <%= message %>
        </p>
      </div>
    </div>
    <% } %>

      <%- include('../partials/adminsimfooter') -%>