<%- include('../partials/simheader') -%>
    <div class="container p-5 ">
        <h1>Reset/create password</h1>
        <div class="col-8 m-auto">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Create Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
               
                <div class="mb-3">
                    <input type="hidden" name="user_id" value="<%=user_id%>">
                </div>

                <button type="submit" value="register" class="btn btn-primary w-100">Create/Reset Password</button>

                <!-- <a href="/forget"  class="btn btn-primary w-100">forget password</a> -->



            </form>
        </div>
    </div>


  
    <%- include('../partials/simfooter') -%>