<%- include('../partials/simheader') -%>

  <div class="container p-5">
    <div class="row p-5">
      <div class="col-4 m-auto">
        <div class="" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto" style="color: green; font-size: 25px;">Congratulations!</strong>
            <small class="m-3">0 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" style="color: green;">
            <p>Hii, Admin Your Email has been verified...!</p>
              <p>Please <a href="/login">Login</a> here....</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/simfooter') -%>