<%- include('../partials/header') -%>






    <!-- about paget top banner -->
    <section class="about-banner">
        <div class="content">
            <h1>#Know Us</h1>
            <p>Save more with coupons & upto 70% off</p>
        </div>
    </section>

    <!-- about us in page -->
    <section class="about">

        <div class="about-container">
            <img src="/image/about/about1.png" alt="">            
            <div class="content">
                <h1>Who We Are?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis illo, ipsum sapiente qui omnis eaque, aliquam eligendi consequatur, ducimus excepturi tempora beatae aspernatur sequi vel tenetur? Reiciendis error quas vitae laboriosam, blanditiis officiis dolores sit eaque consequatur beatae ipsa ducimus, eius impedit sint eveniet voluptate! A, nostrum omnis? Eius, ratione aliquid? Laborum cum possimus autem fugit odio facilis ut beatae, placeat, sit temporibus rem repudiandae hic odit. Voluptas obcaecati quae praesentium, dicta soluta eius, facilis accusantium quibusdam dolorum blanditiis alias voluptate molestias fugiat. Hic aliquid accusamus itaque ipsam quae amet aspernatur fuga ullam dolores, atque consectetur corrupti a repudiandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quaerat mollitia qui, obcaecati accusamus nisi?</p>
                <br>
                <marquee bgColor="#ccc" loop="-1" scrollamount="5" width="100%" >
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel pariatur itaque iste deserunt est reprehenderit quas doloremque ipsum vitae? Autem.
                </marquee>
            </div>
        </div>

        
        <div class="about-container">
            <div class="content">
                <h1>How MocDoc Helps Hospitals around the Globe?</h1>
                <p>MocDoc, a cutting-edge, efficient, cost-effective hospital information software, provides focused, actionable, insightful data. MocDoc is a one-stop solution that can be tailored and deployed to any hospital or healthcare facility, providing state-of-the-art services for patients. MocDoc HMS allows seamless integration with all your systems, including LIS, PACS, and EMR.</p>
                <br>
                <a href="" class="btn">Download Brochure</a>
                <!-- <marquee bgColor="#ccc" loop="-1" scrollamount="5" width="100%" >
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel pariatur itaque iste deserunt est reprehenderit quas doloremque ipsum vitae? Autem.
                </marquee> -->
            </div>
            <img src="/image/about/about2.png" alt="">            
        </div>


        <!-- <div class="about-container">
            <img src="/image/about/about3.png" alt="">            
            <div class="content">
                <h1>How are we Unique From Other Hospital Management System?</h1>
                <p>Being in the Healthcare industry for more than a decade now, We understand every detail about what the industry demands. Our Healthcare Software is built with a bunch of technically advanced people, and we understand the different needs of every client. We are best at customizing and integrating, and we can help you with that.</p>
                <br>
                <a href="" class="btn">Get Quote</a>

    
            </div>
        </div> -->

    </section>
<!-- 
    video adding 
    <section class="app">
        <div class="app-container">
            <h1>Download Our <a href="">App</a></h1>
            <video  controls>
                <source src="/image/about/1.mp4" type="video/mp4">
                <source src="/image/about/1.mp4" type="video/ogg">
              </video>
        </div>
    </section> -->



<%- include('../partials/footer') -%>
