<%- include('../partials/header') -%>

    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- Blog section start  -->

    <!-- Blog paget top banner -->
    <section class="blog-banner">
        <div class="content">
            <h1>#READMORE</h1>
            <p>read the sucessfull stories  and product information.</p>
        </div>
    </section>



    <!-- Blog section start  -->

    <section class="blog">
        <div class="heading">
            <h1><span></span> Read Ours Blogs</h1>
        </div>

    
    </section>


        <!-- pagination section start  -->
        <section class="pagination">
            <div class="pagi">
                <a href="">Prev</a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">Next</a>
            </div>
        </section>




<%- include('../partials/footer') -%>
