<%- include('../partials/simheader') -%>
<section class="thanks">
    <div class="container">
    <div class="box">
        <span><i class="fa fa-check" aria-hidden="true"></i></span>
        <h1>Thank You For Contact Us!</h1>
        <p>Your Contact has been SuccessfulL....</p>
        <p> Please wait to back responce</p>
        <p><b>Have a Nice Day!</b></p>
        <a href="/home" class="btn">Back TO Home</a>
    </div>
</div>
</section>

<%- include('../partials/simheader') -%>
