<%- include('../partials/header') -%>

<div class="container" id="gallery">
    <div class="row">
        <div class="col-2">
            <img src="/image/gallery/0.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/1.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/2.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/3.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/4.png" alt="">
        </div>
                <div class="col-2">
            <img src="/image/gallery/5.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="/image/gallery/6.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/7.png" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/app1.jpg" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/app2.jpg" alt="">
        </div>
        <div class="col-2">
            <img src="/image/gallery/app3.jpg" alt="">
        </div>
                <div class="col-2">
            <img src="/image/gallery/1.png" alt="">
        </div>
    </div>
</div>


<%- include('../partials/footer') -%>
