<%- include('../partials/header') -%>



    <!-- home section start  -->

    <section class="home">
        <div id="row">

            <div class="content">
                <h3>Upto 50% Off</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur sit quos qui nulla,sit, amet consectetur adipisicing elit. eaque, voluptates repellat molestias exercitationem quia, at dolorum commodi officiis odit vel?</p>
                <a href="" class="btn">Shop Now</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper wraper">
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-1.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-2.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-3.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-4.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-5.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="/image/bookshop/book-6.png" alt=""></a>
                </div>
                <img src="/image/bookshop/stand.png" class="stand" alt="">
            </div>
        </div>
    </section>


    <!-- icons section start -->

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-paper-plane"></i>
            <div class="content">
                <h3>free shipping</h3>
                <p>order over $100</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>secure payment</h3>
                <p>100% secure payment</p>
            </div>
        </div>
        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>easy returns</h3>
                <p>10days returns</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 support</h3>
                <p>call us anytime</p>
            </div>
        </div>
    </section>


    <!-- featured section start -->
    <section class="featured">
        <h1 class="heading"><span>Featured Books</span></h1>

        <div class="swiper featured-slider">
            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-1.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>


                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>


                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>


                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-4.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-5.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-6.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-7.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-8.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-9.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="/image/bookshop/book-10.png" alt="">
                    </div>
                    <div class="content">
                        <h3>featured books</h3>
                        <div class="price">$15.56 <span>$13.99</span></div>
                        <a href="" class="btn">add to cart</a>
                    </div>
                </div>
            </div>


            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>


    <!-- newsletter section start -->

    <section class="newsletter">
        <form action="">
            <h3>Subscribe for latest news</h3>
            <input type="emal" name="" placeholder="enter your email">
            <input type="button" class="btn" value="Subscribe">
        </form>
    </section>

    <!-- new arrival section start -->

    <section class="arrival">
        <h1 class="heading"><span>New Arrivals</span></h1>
        <div class="swiper arrival-slide">
            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-1.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>
   
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-4.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-5.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-6.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- section tow 22222222222222222222222222222222 -->
    <section class="arrival">
        <div class="swiper arrival-slide">
            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-1.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>






                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-4.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-5.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="/image/bookshop/book-6.png" alt="">
                    </div>
                    <div class="content">
                        <h3>New Arrival</h3>
                        <div class="price">$23.87 <span>29.87</span></div>
                        <div class="stars">
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star"></i></a>
                            <a href=""><i class="fas fa-star-half-alt"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<!-- deal fo the day secton start -->


<section class="deal">
    <div class="dealrow">

        <div class="content">
            <h4>Deal Of the Day</h4>
            <h3>Upto 50% Off</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur sit quos qui nulla,sit, amet consectetur adipisicing elit. eaque, voluptates repellat molestias exercitationem quia, at dolorum commodi officiis odit vel?</p>
            <a href="" class="btn">Shop Now</a>
        </div>

        <div class="image">
            <img src="/image/bookshop/deal-img.jpg" alt="">
        </div>
    </div>
</section>


<!-- reviews section fa-star-half-alt -->


<section class="reviews">
    <h1 class="heading"><span>Client's Reviews</span></h1>
    <div class="review-container">

        <div class="box">
            <img src="/image/bookshop/pic-1.png" alt="">
            <h3>jhon Dev</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>

        <div class="box">
            <img src="/image/bookshop/pic-2.png" alt="">
            <h3>Ayesha iqbl</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>

        <div class="box">
            <img src="/image/bookshop/pic-3.png" alt="">
            <h3> salman ali</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>

        
        <div class="box">
            <img src="/image/bookshop/pic-4.png" alt="">
            <h3>javeeriya javeed</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>

        
        <div class="box">
            <img src="/image/bookshop/pic-5.png" alt="">
            <h3>Qasim Akhar</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>

        
        <div class="box">
            <img src="/image/bookshop/pic-6.png" alt="">
            <h3>Alishba Ali</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in ratione facere autem officia consequuntur voluptates vel, nemo eos nobis.</p>
            <div class="stars">
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star"></i></a>
                <a href=""><i class="fas fa-star-half-alt"></i></a>
            </div>
        </div>
        
    </div>
</section>



 













<!-- Blog section start -->

<section class="blog">
    <h1 class="heading"><span>Our Blogs</span></h1>
    <div class="blog-container">

        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae</p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae</p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>


        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae </p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>


        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-4.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae </p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>



        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-5.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae </p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/bookshop/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fa fa-calendar" aria-hidden="true"> <span>23/02/2023</span></i>
                    <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                </div>
                <h3> Font Awesome icons just about anywhere with the tag:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit culpa mollitia nisi saepe molestiae dolore nulla. Impedit, omnis neque recusandae </p>
                <a href="" class="btn">ReadMore</a>
            </div>
        </div>

    </div>
</section>
      
    </section>



    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->






    <%- include('../partials/footer') -%>