<%- include('../partials/header') -%>

<div class="container mt-2 mb-5">
    <h1 style="text-align: center; margin: 1rem 0px;">Current Applications are Availabes</h1>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <h1 style="font-size: 25px;">Competition Commission of Pakistan, (Screening Test)</h1>
            <p style="color: rgba(0,0,0,0.3);">Last Date of Application Form Submission is:  <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <h1 style="font-size: 25px;">Walled City of Lahore Authority, Situations Vacant</h1>
            <p style="color: rgba(0,0,0,0.3);">Last Date of Application Form Submission is:  <b style="color: red;"> Wednesday, 20th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <h1 style="font-size: 25px;">National Testing Service Situation Vacant</h1>
            <p style="color: rgba(0,0,0,0.3);">Last Date of Application Form Submission is:  <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <h1 style="font-size: 25px;">National Aptitude Test (NAT 2024-IV)</h1>
            <p style="color: rgba(0,0,0,0.3);">Last Date of Application Form Submission is:  <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>


</div>


<%- include('../partials/footer') -%>

