<%- include('../partials/header') -%>

<div class="container mt-2 mb-5">
    <h1 style="text-align: center; margin: 1rem 0px;">Important Notifications</h1>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <p style="font-size: 20px;">	NOTIFICATION No. SO (STAND)1-55/2023 Prequalified Firms for the Outsourcing of Hospital Laundry & CSSD Services for Tertiary Care Hospitals in Punjab. Government of the Punjab, Specialized Healthcare & Medical Education Department</p>
            <p style="color: rgba(0,0,0,0.3);">Last Update:  <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <p style="font-size: 20px;">Guidelines to Prepare Bidding Document for Framework Contract for the Procurement of Drugs/Medicines, Medical Devices & Surgical Dressing etc.</p>
            <p style="color: rgba(0,0,0,0.3);">Last Update:  <b style="color: red;"> Wednesday, 20th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <p style="font-size: 20px;">Quality Improvement of Health Services Through Kaizen Approach JFY 2024 From 4 July to 2 August, 2024 In Japan.</p>
            <p style="color: rgba(0,0,0,0.3);">Last Update:   <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <p style="font-size: 20px;">Framework Contract (Repair Services of Air Conditioners)</p>
            <p style="color: rgba(0,0,0,0.3);">Last Update:   <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>
    <div class="row m-3 p-3" style="border: 1px solid rgba(0,0,0,0.3);">
        <div class="col-9">
            <p style="font-size: 20px;">	Establishment matters of Accounts Cadre of Specialized Healthcare and Medical Education Department</p>
            <p style="color: rgba(0,0,0,0.3);">Last Update:  <b style="color: red;"> Wednesday, 10th April 2024 </b>  </p>
        </div>
        <div class="col-2">
            <a href="/" class="lbtn">View Details</a>
        </div>
    </div>

</div>


<%- include('../partials/footer') -%>

