<%- include('../partials/header') -%>



<section class="SignIn">

    <div class="container">
        <div class="admin-box">
            <div class="image">
                <img src="/image/login/admin.png" alt="">
            </div>
            <div class="content">
                <p>Her's Admin Login</p>
                <a href="/admin" class="btn">Admin</a>
            </div>
        </div>
    </div>
    
</section>


<%- include('../partials/footer') -%>
