<%- include('../partials/simheader') -%>
<section class="thanks">
    <div class="container">
    <div class="box">
        <span><i class="fa fa-check" aria-hidden="true"></i></span>
        <h1>Thanks For Newsletter!</h1>
        <p>Thank You For Completing Your Newsletter.</p>
        <p><b>Have a Nice Day!</b></p>
        <a href="/" class="btn">Back To Home</a>
    </div>
</div>
</section>

<%- include('../partials/simheader') -%>
