<%- include('../partials/simheader') -%>
<section class="thanks">
    <div class="container">
    <div class="box">
        <span><i class="fa fa-check" aria-hidden="true"></i></span>
        <h1>Pyment Done!</h1>
        <p>Thank You For Completing Your Secure Online Payment.</p>
        <p><b>Have a Nice Day!</b></p>
        <a href="/Userdashboard" class="btn">Go To UserDashboard</a>
    </div>
</div>
</section>

<%- include('../partials/simheader') -%>
