<%- include('../partials/doctorsimheader') -%>
<div class="contain">
    <div class="row">
        <div class="col-12">
            <nav id="navbar">
                <div class="logo">
                    <h3>DOCTOR</h3>
                </div>
                <div class="logout_btn">
                    <!-- <a href="/doctor/logout" class="sbtn">LogOut</a> -->
                </div>
            </nav>
        </div>
    </div>
</div>
<%- include('../partials/doctorsimfooter') -%>
